* {
  /* // for styling purposes: */
  /*border: 1px solid pink !important;*/
  font-size: 62.5%
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color:rgb(232, 243, 247);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body p{
  line-height: 1.2rem;
  padding: 1rem 0;
  font-size: 1.0rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-size: 3.2rem;
}

h2{
  font-size: 1.3rem;
  padding: 1rem 0;
  font-weight: bold;
}

h3{
  font-size: 1.1rem;
  padding: 1rem 0;
}



.article-card{
 
  margin: 1.5%;
  box-shadow: 2px 2px 12px rgba(141, 134, 87, 0.5);
  border-radius: 15px;
  border-top: 2rem solid rgba(249, 224, 53, 1);
  padding: 2.5%;
  /* padding-left: 3%; */
  text-align: left;
  background-color: white;
}

.save-button {
background-color: rgba(45, 130, 165, 1);
color: white;
border-radius: .3rem;
border: none;
font-size: 1.4rem;
padding: .5rem;
}

.save-button:hover{
  background-color: rgba(255, 145, 50, 1);
}

.App {
  background-image: url('./assets/images/Tortoise-Shell.svg')
}

 .article-card:nth-of-type(4n) {
border-top: 2rem solid orange;
} 

/* colors for article links */
 .article-card a:nth-child(1){
  text-decoration: none;
  border-bottom: 2px solid rgba(249, 224, 53, 1);
}
.article-card:nth-of-type(1n) a:hover{
  font-weight: bold;
 color:  rgba(249, 224, 53, 1);
}
.article-list a:nth-child(2) {
  text-decoration: none;
  border-bottom: 2px solid rgba(124, 197, 118, 1);
}

.article-card:nth-of-type(2n) a:hover{
  font-weight: bold;
  color: rgba(124, 197, 118, 1);
}

.article-card:nth-of-type(3n) a{
  text-decoration: none;
  border-bottom: 2px solid rgba(109, 207, 246, 1);
}

.article-card:nth-of-type(3n) a:hover{
  font-weight: bold;
  color: rgba(109, 207, 246, 1);
} 


 .article-card:nth-of-type(2n) {
  border-top: 2rem solid rgba(124, 197, 118, 1);
  box-shadow: 2px 2px 12px rgba(124, 197, 118, 0.5);
}



.article-card:nth-of-type(3n) {
  border-top: 2rem solid rgba(109, 207, 246, 1);
  box-shadow: 2px 2px 12px rgba(109, 207, 246, .5);

} 

.article-authors{
  padding: 1rem 0;
  font-style: italic;
}

.card-content-saved{
  padding:2.5rem ;
  border-bottom: 1.2rem solid rgba(165, 218, 237, 1);
  border-left: 1.2rem solid rgba(165, 218, 237, 1);
  border-right: 1.2rem solid rgba(165, 218, 237, 1);
}

.modali-header{
  background-color: rgba(165, 218, 237, 1);
}
.login-error{
  color: red;
  size: .75rem;
}

.saved-card-form{
  display: flex;
  flex-direction: column;
}

.saved-card-form input{
  display: flex;
  font-size: 1rem;
  padding: .3rem;
  margin: .7rem 0;
  border: 1px solid rgba(165, 218, 237, 1); 
}

.saved-card-form button{
background-color: rgba(45, 130, 165, 1);
color: white;
border-radius: .3rem;
border: none;
font-size: 1.1rem;
padding: .5rem;
}

.saved-card-form button:hover{
  background-color: rgba(255, 145, 50, 1);
}